<h1>Generate a Random Article</h1>
<a href="/articles">Return Home</a>
<br>

<button type="button" name="random" id="random">Randomize</button>

<a id="url" href="" target="_blank"><h1 id="title"></h1></a>
<p id="description"></p>

<script src="/javascript/app.js"></script>
